# Django 配置
DEBUG=False
DJANGO_SECRET_KEY=lsslb_django_secret
ALLOWED_HOSTS=blcu_research.lsslb.top,8.140.242.111

# 数据库配置
DB_NAME=blcu_reading
DB_USER=blcu_user
DB_PASSWORD=lsslb
DB_ROOT_PASSWORD=lsslb
DB_HOST=db
DB_PORT=3306

# CORS 配置
CORS_ALLOWED_ORIGINS=http://blcu_research.lsslb.top,8.140.242.111
# 前端配置
VITE_API_URL=http://blcu_research.lsslb.top
