# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/
#.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.dockerignore

# OS
Thumbs.db
